// Catppuccin inspired colors for my personal rofi styles
// usage: @import "colors.rasi" in all the style files

* {
    bg: #1e1e2eff;
    bg-alt: #313244ff;
    fg: #cdd6f4ff;
    accent: #89b4faff;
    muted: #6c7086ff;
    red: #f38ba8ff;
    background-color: transparent;
    text-color: @fg;
}

